<h1>Prophet Data</h1>
<p><%= link_to "Conferences", conferences_path %></p>
<p><%= link_to "Teams", teams_path %></p>
<p><%= link_to "Seasons", seasons_path %></p>
<p><%= link_to "Games (11/11)", games_path(date: "20171111") %></p>